<div id="dojodachi-app-div" class="row">
  <div id="top-container">
    <ul id="stats">
      <li>Fullness: 
        <span id="fullness-data">
          
        </span>
      </li>
      <li>Happyness: 
        <span id="happiness-data">
          
        </span>
      </li>
      <li>Meals: 
        <span id="meals-data">
          
        </span>
      </li>
      <li>Energy: 
        <span id="energy-data">
          
        </span>
      </li>
    </ul>
  </div>
  <div id="main-container" class="row">
    <div id="dojodachi-container">
      <img id="dojodachi-egg" src="https://www.models-resource.com/resources/big_icons/26/25308.png" alt="egg">
    </div>
    <div id="message-container">
      <!-- Render Messages Here -->
      <p>Hatch your egg!</p>
    </div>
  </div>
  <div id="bottom-container" class="row">
    <ul id="actions">
      <li id="feed-button">Feed</li>
      <li id="play-button">Play</li>
      <li id="work-button">Work</li>
      <li id="sleep-button">Sleep</li>
    </ul>
  </div>
</div>